.link-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 192.44px;
    height: 16.97px;
}

.txt{
    font-family: Koh Santepheap;
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    text-decoration: none;
    color: black;
    
}

.ic{

    width: 40px;
    height: 33px;
}

.blue{
    color: rgb(2, 119, 181);
}
nav{
    margin-top: 25px;
    position: sticky;
}
