.testimonial-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 30vh; */
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
  margin: 50px;

}

/* .testimonial-left-container {
  width: 602px;
  height: 354px;
  border: 2px solid red;
} */

.testimonial-left-container img {
  width: 586px;
  height: 40vh;
}

.testimonial-right-container{
    display: flex;
    flex-direction: column;
    justify-content: ; 
    align-items: center;
}

.right-top-container {
  width: 395px;
  height: 300px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(213, 213, 213, 0.58),
    rgba(2, 119, 181, 0.58) 100%
  );
  /* display: flex;
  flex-direction: column;
  justify-content:center; 
  align-items:center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.right-top-container h2 {
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left:44px;
  top:25px;
}
.right-top-container p {
  font-size: 21px;
  line-height: 25px;
  /* text-align: left;   */
  
    width: 300px;
    height: 140px;
}

.testimonial-tittle{
    width: 323px;
    height: 52px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(118, 129, 148, 0.98);
    color: rgb(255, 255, 255);
    /* font-family: Koh Santepheap; */
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}
